<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Within your Budget</title>

	<!-- Required CSS -->
	<link href="css/movingboxes.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<link href="css/movingboxes-ie.css" rel="stylesheet" media="screen">
	<![endif]-->

	<!-- Required script -->
	<script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
	<script src="js/jquery.movingboxes.js"></script>

	<!-- Demo only -->
	<link href="demo/demo.css" rel="stylesheet">
	<script src="demo/demo.js"></script>
	<style>

		#slider-one { width: 1000px; }
		#slider-one > div { width: 360px; }
	</style>
</head>

<body>

	<div class="wrapper">

		<h1 class="demo-title">Within your Budget</h1>

		<nav class="main-nav">
		</nav>

		<!-- Slider #2 (images of slider #1 reversed) -->
		<div id="slider-one">

			<div>
				<img src="#" alt="picture">
				<h2>Combo 1 - <span>Price range</span></h2>
				<p>Add a short exerpt here... <a href="http://flickr.com/photos/fensterbme/499006584/">more</a></p>
			</div>

			<div>
				<img src="#" alt="picture">
				<h2>Combo 2 - <span>Price range</span></h2>
				<p>Add a short exerpt here... <a href="http://flickr.com/photos/emikohime/294092478/">more</a></p>
			</div>

			<div>
				<img src="#" alt="picture">
				<h2>Combo 3 - <span>Price range</span></h2>
				<p>Add a short exerpt here... <a href="http://flickr.com/photos/ruudvanleeuwen/468309897/">more</a></p>
			</div>

			<div>
				<img src="#" alt="picture">
				<h2>Combo 4 - <span>Price range</span></h2>
				<p>Add a short exerpt here... <a href="http://flickr.com/photos/joshuacraig/2698975899/">more</a></p>
			</div>

			<div>
                <div style="width:800">
				<img src="#" alt="picture" style="float:left">
                <img src="#" alt="picture" style="float:left">
                <img src="#" alt="picture" style="float:left">
                    </div>
				<h2>Combo 5 - <span>Price range</span></h2>
				<p>Add a short exerpt here... <a href="http://flickr.com/photos/justbcuz/112479862/">more</a></p>
			</div>

		</div>

	</div><!-- end wrapper -->

</body>

</html>