<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Product Comparison - Hackaton</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0"> -->

    <!-- Loading Bootstrap -->
   <!--  <link href="bootstrap/css/bootstrap.css" rel="stylesheet"> -->

    <!-- Loading Flat UI -->
    <!-- <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/demo.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico"> -->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  <!-- </head>
  <body> -->
    <div class="container">

      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
          <ul class="nav navbar-nav"> 
          </ul>           
          <form class="navbar-form navbar-right" action="#" role="search">
            <div class="form-group">
              <div class="input-group">           
              </div>
            </div>               
          </form>
        </div><!-- /.navbar-collapse -->
      </nav><!-- /navbar -->

      <div class="demo-headline">
        <h1 class="demo-logo">
          Combo Maker
        </h1>
      </div> <!-- /demo-headline -->

      <div id="steps-container">
        <div id="step-one">
          <h1 class="demo-section-title">Step 1: </h1>
          <h3 class="demo-panel-title">Set the price for the combo that you want</h3>

          <div class="row">
            <div class="col-xs-3">
              <div class="form-group">
                <input id="inpPrice" type="text" value="" placeholder="Inactive" class="form-control" />
              </div>          
            </div>
          </div> <!-- /row -->
        </div>

        <div id="step-two">
          <h1 class="demo-section-title">Step 2: </h1>
          <h3 class="demo-panel-title">Choose your genre</h3>

          <div>
            <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="Femenine" data-toggle="radio">
              Femenine
            </label>
            <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="Masculine" data-toggle="radio">
              Masculine
            </label>
          </div>
        </div>
      </div>

      <br>

      <h1 class="demo-section-title">Step 3: </h1>
      <h3 class="demo-panel-title">Choose the products by priority to create the combo and select the amount for every item</h3>

      <div id="drag-drop-options">
        <div id="dragDiv">
          <div id="label-margin-drag">
            <label id="option1" class="item-option" value="Shirts">Shirts</label>
            <label id="option2" class="item-option" value="Pants">Pants</label>
            <label id="option3" class="item-option" value="Shoes">Shoes</label>
            <label id="option4" class="item-option" value="Shorts">Others</label> 
          </div>
        </div>

        <div id="dropDiv">
          <div id="label-margin-drop">
          </div>
        </div>

        <div id="dropDownOps" class="row demo-row">
          
        </div>

        <div id="dropDownColor" class="row demo-row">
          
        </div>
      </div> 
    </div> <!-- /container -->

    <div class="row demo-row">
      <div id="combo-boton">
        <a id="btnSent" href="#fakelink" class="btn btn-block btn-lg btn-primary">Combo!</a>
      </div>
    </div> <!-- /row -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-7">
            
          </div> <!-- /col-xs-7 -->

          <div class="col-xs-5">
            
          </div>
        </div>
      </div>
    </footer>
    
    <!-- Load JS here for greater good =============================-->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>\
    <script src="http://vjs.zencdn.net/4.3/video.js"></script>
    <script src="js/application.js"></script>
  <!-- </body>
</html> -->