<div id="comboContainer">
  <div class="comboSelectorContainer">
  </div>
  <div id="shirtContainer" class="itemContainer">
    <div id="shirtImage" class="imageContainer">
    </div>
    <div id="shirtInformation">
      <label id="shirtDescription"></label>
      <label id="shirtBrand"></label>
      <label id="shirtPrice"></label>
    </div>
  </div>

  <div id="pantContainer" class="itemContainer">
    <div id="pantImage" class="imageContainer">
    </div>
    <div id="pantInformation">
      <label id="pantDescription"></label>
      <label id="pantBrand"></label>
      <label id="pantPrice"></label>
    </div>
  </div>

  <div id="shoesContainer" class="itemContainer">
    <div id="shoesImage" class="imageContainer">
    </div>
    <div id="shoesInformation">
      <label id="shoesDescription"></label>
      <label id="shoesBrand"></label>
      <label id="shoesPrice"></label>
    </div>
  </div>
  <div class="comboSelectorContainer">
  </div>
</div>